$input-background: #d0d0d00e;
$text-icons: black;
$primary-color: #ffffff;
$secondary-color: #474d53;
$dark-secondary-color: #27292b;
$accent-color: #eb9500;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #77818765;
$warning-color: rgb(159, 88, 0);
$success-color: #3a9e00;
$danger-color: #9e1000;
