$input-background: #0289d10e;
$text-icons: black;
$primary-color: #ffffff;
$secondary-color: #1988ff;
$dark-secondary-color: #004c9e;
$accent-color: #eb9500;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #015e9034;
$warning-color: rgb(159, 88, 0);
$success-color: #3a9e00;
$danger-color: #9e1000;
